
<!-- Begin Footer-->
<footer class="footer__main">
  <div class="footer__left-half">
    <div class="left-half__resources">
      <h4>resources</h4>
      <div class="resources__links"><a class="resources__links-app-data" href="#0">application data</a><a class="resources__links-brochures" href="#0">brochures</a><a class="resources__links-videos" href="#0">videos</a><a class="resources__links-faq" href="#0">faq</a></div>
    </div>
    <div class="left-half__connect">
      <div class="connect-with-us">
        <h4>connect</h4>
        <div class="connect__us"><span>PDS USA</span><span><strong>Phone:</strong> (704) 922-1206</span><span><strong>Fax:</strong> (704) 922-1217</span><a href="mailto:spindles@pdsspindles.com">spindles@pdsspindles.com</a></div>
        <div class="connect__de"><span>PDS Germany</span><span><strong>Buro:</strong> +49 (0) 57 31 / 74 48 89-0</span><span><strong>Fax:</strong> +49 (0) 57 31 / 74 48 89-20</span><a href="mailto:info@pds-gmbh.de">info@pds-gmbh.de</a></div>
      </div>
    </div>
  </div>
  <div class="footer__right-half">
    <div class="right-half__testimonial">
      <h4>what our customers are saying...</h4>
      <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&rdquo;</p>
      <hr/>
      <div>
        <h4>customer name</h4>
        <p>company</p>
      </div><a class="btn btn--wide" href="#0">more testimonials</a>
    </div>
    <div class="right-half__events">
      <div class="events__img"></div>
      <div class="events__info">
        <h4>upcoming event</h4>
        <div class="info__inner">
          <div class="skewed-date"><span>september 12, 2017</span></div>
          <div>
            <p class="red">Sed consequat ipsum metus, ut ultricies enim ultricies a.</p>
            <p>Sed consequat ipsum metus, ut ultricies enim ultricies a. Suspendisse vitae aliquet sem, eu sollicitudin odio. In sit amet pellentesque justo. Vestibulum efficitur risus at lobortis pulvinar.</p><a class="btn btn--wide" href="#0">event details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer"><span>Copyright &copy; 2016 Precision Drive Systems. All Rights Reserved. • Privacy Policy</span><span>Site By [logo]</span></footer>
<!-- End Footer-->
<!-- Load Scripts-->
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.sticky-kit.min.js"></script>
<script src="./js/app.js"></script>