<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gaston County</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fluidbox.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="popup-overlay"></div>
    <form class="slide-down-login"><span class="login-close fa fa-times" aria-hidden="true"></span>
      <ul class="login-form-elements">
        <li>
          <label class="login-form__label">login</label>
        </li>
        <li>
          <input type="text" placeholder="Username" name="username">
        </li>
        <li>
          <input type="password" placeholder="Password" name="password">
        </li>
        <li>
          <button class="btn btn--primary" type="submit" name="login"><span>login <span class="fa fa-user"></span></span></button>
        </li>
      </ul>
    </form>
    <nav class="banner">
      <ul>
        <li class="banner__logo"><a href="/"><img src="img/logo.png"></a></li>
        <li class="banner__txt-logo"><a href="/"><img src="img/banner-txt-logo.png"></a></li>
        <li class="banner__phrase"><img src="img/banner-phrase.png"></li>
        <li class="banner__btns">
          <ul class="h-list">
            <li>
              <button class="btn btn--primary banner__btn login-toggle">Login <span class="fa fa-user" aria-hidden="true"></span></button>
            </li>
            <li><a class="btn btn--primary banner__btn" href="/contact.html">Contact <span class="fa fa-envelope" aria-hidden="true"></span></a></li>
          </ul>
        </li>
        <li class="banner__search-btn"><span class="fa fa-search" id="search-button" aria-hidden="true"></span></li>
        <li class="banner__tele">704-825-4046</li>
        <li class="banner__menu-btn"><span class="fa fa-bars fa-2x menu-toggle" aria-hidden="true"></span></li>
      </ul>
      <div class="slide-down-search">
        <form id="search-box">
          <input type="text" id="slide-down-search" placeholder="Enter your search...">
          <label class="fa fa-search fa-2x" aria-hidden="true"></label>
        </form>
      </div>
    </nav>
    <nav class="slide-out-menu">
      <div class="row">
        <h3 class="slide-out-menu__heading">menu</h3><span class="fa fa-times slide-out-menu__close menu-close" aria-hidden="true"></span>
      </div>
      <form class="row">
        <input class="nav-search" type="text" placeholder="Search..." name="nav-search">
        <button class="nav-search__btn" type="submit" name="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      <hr class="hr--blue">
      <ul class="main-nav">
        <li class="nav-item"><a href="#0">doing business in gaston <span class="nav-caret fa fa-caret-right" aria-hidden="true"></span></a>
          <ul class="sub-nav">
            <li class="sub-nav-item"><a href="#0">demographics</a></li>
            <li class="sub-nav-item"><a href="/workforce.html">workforce</a></li>
            <li class="sub-nav-item"><a href="/current-industries.html">current industries</a></li>
            <li class="sub-nav-item"><a href="/taxes-incentives.html">taxes &amp; incentives</a></li>
            <li class="sub-nav-item"><a href="/utilities.html">utilities</a></li>
            <li class="sub-nav-item"><a href="/permitting.html">premitting</a></li>
            <li class="sub-nav-item"><a href="/business-resources.html">business resources</a></li>
            <li class="sub-nav-item"><a href="#0">business directory</a></li>
            <li class="sub-nav-item"><a href="#0">foreign firms</a></li>
            <li class="sub-nav-item"><a href="/transportation.html">transportation</a></li>
            <li class="sub-nav-item"><a href="/airport.html">airport</a></li>
          </ul>
        </li>
        <li class="nav-item"> <a href="/existing-industry.html">existing industry</a></li>
        <li class="nav-item"><a href="#0">sites &amp; buildings <span class="nav-caret fa fa-caret-right" aria-hidden="true"></span></a>
          <ul class="sub-nav">
            <li class="sub-nav-item"><a href="/gastonia-tech-park.html">gastonia technology park</a></li>
            <li class="sub-nav-item"><a href="/southridge.html">SouthRidge</a></li>
            <li class="sub-nav-item"><a href="/summit-court-drive.html">summit at court drive</a></li>
            <li class="sub-nav-item"><a href="/kings-mountain.html">kings mountain corporate center</a></li>
            <li class="sub-nav-item"><a href="the-oaks.html">the oaks commerce center</a></li>
            <li class="sub-nav-item"><a href="#0">building &amp; site search</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="#0">community <span class="nav-caret fa fa-caret-right" aria-hidden="true"></span></a>
          <ul class="sub-nav">
            <li class="sub-nav-item"><a href="#0">communities</a></li>
            <li class="sub-nav-item"><a href="/healthcare-facilities.html">healthcare facilities</a></li>
            <li class="sub-nav-item"><a href="/education-institutions.html">education institutions</a></li>
            <li class="sub-nav-item"><a href="/amenities.html">amenities</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="/news.html">news &amp; events</a></li>
        <li class="nav-item"><a href="#0">about gaston EDC <span class="nav-caret fa fa-caret-right" aria-hidden="true"></span></a>
          <ul class="sub-nav">
            <li class="sub-nav-item"><a href="/mission-vision.html">mission/vision</a></li>
            <li class="sub-nav-item"><a href="/partnerships.html">partnerships</a></li>
            <li class="sub-nav-item"><a href="/investors.html">investors</a></li>
            <li class="sub-nav-item"><a href="/site-consultants.html">site consultant services</a></li>
            <li class="sub-nav-item"><a href="/board-staff.html">board &amp; staff</a></li>
            <li class="sub-nav-item"><a href="/data-library.html">data library</a></li>
          </ul>
        </li>
      </ul>
      <hr class="hr--blue">
      <div class="row"><a class="left btn btn--primary" id="nav-login-btn" href="#0">login</a><a class="right btn btn--primary" href="/contact.html">contact</a></div>
      <hr class="hr--blue">
      <ul class="social__list">
        <li class="social__icon"><a href="#0" alt="Facebook"><span class="fa fa-facebook fa-2x" aria-hidden="true"></span></a></li>
        <li class="social__icon"><a href="#0" alt="Twitter"><span class="fa fa-twitter fa-2x" aria-hidden="true"></span></a></li>
        <li class="social__icon"><a href="#0" alt="LinkedIn"><span class="fa fa-linkedin fa-2x" aria-hidden="true"></span></a></li>
        <li class="social__icon"><a href="#0" alt="Google Plus"><span class="fa fa-google-plus fa-2x" aria-hidden="true"></span></a></li>
      </ul>
    </nav>
    <div class="prefooter">
      <div class="inner">
        <address>620 N. Main Street<br>
          Belmont, NC 28012<br>
          704-825-4046<br>
          <a href="/contact.html" alt="Contact Us">Contact Us</a>
        </address>
        <div class="prefooter__partners">
          <ul>
            <li><img src="img/charlotte-regional.png"></li>
            <li><img src="img/gaston-regional.png"></li>
            <li><img src="img/thrive.png"></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="inner"><span class="footer__copyright">&copy; 2016 Gaston EDC</span><a class="footer__alter" href="http://alterimaging.com/" alt="Alter Imaging">
           Website Design by<img src="img/alter-logo.png"></a></div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/jquery.ba-throttle-debounce.min.js"></script>
    <script src="js/jquery.fluidbox.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>