
<!-- Mobile Navigation-->
<!-- Overlay - Backdrop for navigation-->
<div class="overlay"></div>
<!-- Begin Mobile Navigation-->
<div class="mobile-nav">
  <!-- Close button - fontawesome icon-->
  <div class="mobile-nav__close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
  <!-- Mobile Navigation List/Menu-->
  <ul class="mobile-nav__menu">
    <li class="mobile-nav__item"><a href="/">home</a></li>
    <li class="mobile-nav__item">about
      <!-- Mobile Navigation Sub-menu-->
      <ul class="mobile-nav__sub-menu">
        <li class="mobile-nav__sub-item"><a href="#0">history</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">news &amp; events</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">testimonials</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">careers</a></li>
      </ul>
    </li>
    <li class="mobile-nav__item">repair
      <!-- Mobile Navigation Sub-menu-->
      <ul class="mobile-nav__sub-menu">
        <li class="mobile-nav__sub-item"><a href="#0">submit repair</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">repair support</a></li>
      </ul>
    </li>
    <li class="mobile-nav__item">products
      <!-- Mobile Navigation Sub-menu-->
      <ul class="mobile-nav__sub-menu">
        <li class="mobile-nav__sub-item"><a href="#0">automatic tool change</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">manual tool change</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">custom spindles</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">spindle accessories</a></li>
      </ul>
    </li>
    <li class="mobile-nav__item">technical resources
      <!-- Mobile Navigation Sub-menu-->
      <ul class="mobile-nav__sub-menu">
        <li class="mobile-nav__sub-item"><a href="#0">application data</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">videos</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">brochures</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">calculators</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">FAQ's</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">preventative maintenance</a></li>
      </ul>
    </li>
    <li class="mobile-nav__item">contact
      <!-- Mobile Navigation Sub-menu-->
      <ul class="mobile-nav__sub-menu">
        <li class="mobile-nav__sub-item"><a href="#0">contact</a></li>
        <li class="mobile-nav__sub-item"><a href="#0">locations</a></li>
      </ul>
    </li>
  </ul>
</div>